.hero {
    padding: 70px 0;
    background-color: #F6F6F6;
}

.main__hero {
    margin-bottom: 100px;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero__title {
    max-width: 200px;
    margin-bottom: 10px;
    transition: 1s ease 0.8s;
}

.hero__title.scroll-anim {
    transform: translateX(-10px);
    opacity: 0;
}

.hero__title.scroll-anim_active {
    transform: translateX(0);
    opacity: 1;
}

.hero__text {
    display: block;
    transition: 1s ease 0.5s;
}

.hero__text.scroll-anim {
    transform: translateX(-10px);
    opacity: 0;
}

.hero__text.scroll-anim_active {
    transform: translateX(0);
    opacity: 1;
}

.hero__img {
    max-width: 452px;
    transition: 1s ease 0.7s;
}

.hero__img.scroll-anim {
    transform: translateX(10px);
    opacity: 0;
}

.hero__img.scroll-anim_active {
    transform: translateX(0);
    opacity: 1;
}