.main__portfolio {
    margin-bottom: 100px;
}

.portfolio {
    padding: 50px 0;
    background-color: #F6F6F6;
}

.portfolio__before-title {
    display: block;
    margin-bottom: 20px;
    transition: 1s ease 0.8s;
}

.portfolio__before-title.scroll-anim {
    transform: translateX(-10px);
    opacity: 0;
}

.portfolio__before-title.scroll-anim_active {
    transform: translateX(0);
    opacity: 1;
}

.portfolio__content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.portfolio__button-box {
    display: flex;
    gap: 10px;
}

.portfolio__arrow {
    fill: #5c5656;
    transition: fill 0.2s linear 0s;
}

.portfolio__arrow:hover {
    fill: #F6F6F6;
}

.portfolio__arrow_rotate {
    transform: rotate(180deg);
}

.portfolio__content .swiper-button-next,
.swiper-button-prev {
    position: static;
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s linear 0s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #5c5656;
}

.swiper-pagination-bullet-active {
    background-color: #5c5656;
}

.portfolio__title {
    margin-bottom: 70px;
    transition: 1s ease 0.5s;
}

.portfolio__title.scroll-anim {
    transform: translateX(-10px);
    opacity: 0;
}

.portfolio__title.scroll-anim_active {
    transform: translateX(0);
    opacity: 1;
}

.portfolio__list {
    margin-bottom: 40px;
}

.portfolio__item {
    transition: 1s ease 0.5s;
}

.portfolio__item.scroll-anim {
    transform: translateX(-10px);
    opacity: 0;
}

.portfolio__item.scroll-anim_active {
    transform: translateX(0);
    opacity: 1;
}


@media(min-width:992px) {
    .portfolio__img {
        height: 250px;
    }
}